body {
    height: 100vh;
    align-content: center;
    justify-items: center;
}

@keyframes neonGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: neonGradient 10s ease infinite;
}